<ul id="tasks"></ul>
<div id="task_entry">
  <form action="#/tasks" method="post">
    <p>
      <input class="entry" name="entry" type="text" />
    </p>
    <p>
      <input type="submit" value="Create" />
    </p>
  </form>
</div>
