!font = "'Lucida Grande', Helvetica, Arial, sans-serif"

body
  :font-family = !font
  :color #333
  :margin 0px
  :background #F3F3F3


a:link, a:visited
  :text-decoration none
  :color #5588CA
a:hover
  :color #333
  :background #E8E8E8
  :-moz-border-radius 2px
  :-webkit-border-radius 2px

h1
  :color #000
  :margin 0px
  :font-weight normal

  a:link, a:visited
    :color #000
  a:hover
    :color #5588CA
    :background none

#header
  :padding 5px 20px
  :background #D7D7D7
  :border-bottom 4px solid #C0C0C0
#main
  :padding 15px
#tasks
  :list-style-type none
  :margin 5px 0px
  :padding 0px

  li
    :margin 5px 0px
    :padding 4px
    a
      :padding 2px
      :font-size 18px
    &.completed a
      :text-decoration line-through
      :color #999

#task_entry
  input[type=text]
    :width 100%
    :font-size 18px
    :padding 4px
    :-moz-border-radius 4px
    :-webkit-border-radius 4px
    :border 1px solid #CCC
  input[type=submit]
    :-moz-border-radius 4px
    :-webkit-border-radius 4px
    :font-size 16px
    :padding 4px 20px
    :color #333
    :background #ECECEC
    :border 1px solid #CCC
