%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Backended
    
    - ['jquery', 'jquery.cloudkit', 'sammy', 'app'].each do |js|
      %script{:src => "/javascripts/#{js}.js", :type => 'text/javascript', :charset => 'utf-8'}
  %body
    #container
      #error{:style => 'display:none'}
        %span.close x
      #main
        %ul#tasks
        #task_entry
          %form{:action => '#/tasks', :method => 'post'}
            %p
              %input{:type => 'text', :name => 'entry', :class => 'entry'}
            %p
              %input{:type => 'submit', :value => 'Create'}
              
      #debug